.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(114,111,173,1) 0%, rgba(121,9,117,1) 0%, rgba(75,87,170,1) 100%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeading{
  font-size: 70px;
  font-weight: bold;
  color:white;
}

.subHeading{
  letter-spacing: 5px;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}